body {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  max-width: 100%
}

h5{
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: right;
}

p {
  padding-left: 5px;
  text-align: justify;
  grid-row-start: 2;
  grid-column-start: 3;
  grid-column-end: 10;
}

footer {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

.container {
  display: grid;
  padding-left: 0;
  padding-right: 0;
  min-width: 100%;
  grid-template-columns: repeat(12, 2fr);
  grid-template-rows: 40px 700px 20px 40px;
  grid-gap: .5em;
}

header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 13;
}

ul {
  display: flex;
  list-style-type: none;
  margin-left: 20px;
  padding: 0;
}

li a {
    color: grey;
    text-decoration: none;
    margin-right: 15px;
}

li a:hover {
  background-color: white;
  text-decoration: none;
  color: grey;
}

.meta {
  margin-left: 0px;
  padding-left: 0px;
}

.list {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 9;
  display: flex;
  flex-direction: column;
  flex-basis: 500px;
  list-style-type: none;
  padding-top: 20px;
  padding-left: 0px;
}


.blog {
  padding-left: 10px;
  padding-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  text-align: left;
}

.post {
  margin-bottom: 20px;
  padding: 0px;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: black;
  background-color: white;
  text-align: left;
  font-weight: bold;
}

.post:hover {
  background-color: White;
  text-transform: inherit;
}
