.posts {
  margin-left: 50px;
}

.posts li a:hover {
  background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white/* #333  */;
}

li {
    float: left;
}

li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
  background-color: #111;
  text-decoration: none;
  color: grey;
}

strong {
  padding-left: 14px;
}
