ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white/* #333  */;
}

li {
    float: left;
}

li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
  background-color: #111;
  text-decoration: none;
  color: grey;
}

strong {
  padding-left: 14px;
}

.list {
  display: flex;
  flex-direction: column;
  flex-basis: 500px;
  margin-left: 235px;
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 30px;
}


.blog {
  padding-bottom: 30px;
  margin-left: 0;
  font-family: 'Roboto', sans-serif;

}

.post {
  padding-left: 0px;
  padding-bottom: 15px;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: black;
  background-color: white;
  text-align: left;
}

.post:hover {
  background-color: White;
}
